html,body{
	height:100%;
}


.nav{
	background-image: url('images/header.jpg');
	height:100px;
	background-repeat: repeat-x;
	text-align: center;
	color:white;
	font-size: 25px;
}

.nav p{
	padding: 12px;
	padding-top: 33px;
	font-weight: lighter;
	letter-spacing: 2.5px;
}

.getStarted{
	padding:10px 22px 10px 22px;
}

footer{
	background-image: url('images/footer.jpg');
	height: 100px;
	bottom: 0;
	position:absolute;
	left:0;
	width:100%;

}

.overlay{
	text-align: center;
	/*display:none;*/
	background-color: rgb(255, 218, 136);
	min-width: 100%;
	z-index:1;
}

.overlay-content{
	padding-bottom: 100px;
	position:Relative;
}


h2{
	text-align: center;
	line-height: 44px;
	font-size: 32px;
	margin-bottom: 30px;
}


#startGame{
	/*padding: 20% 0 23% 0;*/
	padding-top:200px;
}






.submitBtn{
	text-align: center;
	padding:10px 22px 10px 22px;
}

.playAgainBtn{
	text-align: center;
	padding:10px 22px 10px 22px;
	background-color: red;
}

.answerSelected{
	background-color: #1F4C73;
}

.submitArea{
	text-align: center;
	padding-bottom: 30px;
}


.col-md-3{
	text-align: center;
	padding:15px;

}

.answerBtn{
	/*width:220px;*/
	width:auto;
	height:60px;
	margin: 10px;
}


.question{
	font-size: 34px;
	line-height: 46px;
}

.question-area{
text-align: center;
max-width: 500px;
margin: auto;
padding-bottom: 4%;
}


#wrapper{
	padding-bottom: 15px;
	text-align: center;
}

.animals{
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	min-height:155px;
	background-position: 50% 40px;
	background-size: 700px;
}





@media (max-width:730px){
	.animals{
		background-size:90%;
	}
	
}

@media (max-width:640px){
	.animals{
		background-size: 90%;
		min-height: 150px;
	}
}

@media (max-width:620px){
	.animals{
		background-size: 90%;
		min-height: 110px;
	}
}

@media (max-width:430px){
	.animals{
		background-size: 90%;
		min-height: 90px;
	}
}





/*

	.animals{
		min-height:120px;
		background-size: 90%;
	}

}


@media (max-width:425px){
	.animals{
		min-height:100px;
	}

}

@media (max-width:570px){
	.animals{
		min-height:115px;
	}

}


@media (max-width:483px){
	.animals{
		height:100px;
		background-size: 90%;
	}

}

@media (max-width:559px){
	.nav{
		font-size: 20px;
	}

	.question{
		font-size: 29px;
	}

}
*/

.bottom{
	height:45px;
}

.scoreIcon{
	background-image: url('images/score.png');
	background-repeat: no-repeat;
	height:42px;
	background-position: 30% 50%;
	width:140px;
	float:right;
}

.helpIcon{
	background-image: url('images/info.png');
	height:42px;
	width:100px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	float:left;
}


.score-text{
	font-size: 10px;
	padding-left: 80px;
	margin-bottom: 0;

}

.score-number{
font-size: 30px;
font-weight: bold;
padding-left: 80px;
line-height: 32px;
}

.overlay-lightbox .box{
	background-color: #dff0d7;
	width:740px;
	height:400px;
	border-radius: 15px;
	text-align: center;
	position: relative;
	margin:auto;
}

.overlay-lightbox .box img{
vertical-align: middle;
position: absolute;
top: 20px;
left: 680px;
}

.overlay-lightbox{
	z-index: 100;
	/*display: none;*/
	position:absolute;
	min-height: 100%;
	width:100%;
}

.answer-check{
	font-size: 30px;
	font-weight: bold;
	line-height: 60px;
}

.answer{
	font-size: 20px;
}

.answer-text{
	width: 500px;
	padding: 30px;
	position: absolute;
	top: 120px;
	left: 115px;
}


.row{
	margin:0;
}



.btn:focus{
	outline:none;
	border: none;
}
