.nav{
	background-image: url('images/header.jpg');
	height:100px;
	background-repeat: repeat-x;
	text-align: center;
	color:white;
	font-size: 25px;
	margin-bottom: 150px;
}

.nav p{
	padding-top: 30px;
}

.getStarted{
	padding:12px 22px 12px 22px;
}

footer{
	background-image: url('images/footer.jpg');
	height:100px;

}

.overlay{
	position: relative;
	text-align: center;
	display:none;
}


h2{
	text-align: center;
	line-height: 44px;
	font-size: 32px;
	margin-bottom: 30px;
}


#startGame{
	padding:20% 0 20% 0;
}


.submitBtn{
	text-align: center;
	margin-bottom: 100px;
}
.col-md-3{
	text-align: center;
	padding:15px;

}

.answerBtn{
	width:220px;
	height:60px;
	margin: 10px;
}


.question{
	font-size: 34px;
	line-height: 46px;
}

.question-area{
text-align: center;
max-width: 500px;
margin: auto;
margin-bottom: 30px;
}


#wrapper{
	
	margin-bottom: 25px;
	text-align: center;
}

.animals{
	background-image: url('images/animals.png');
	background-repeat: no-repeat;
	height:100px;
	background-position: 50% 50%;
	margin-bottom: 100px;
}


@media (max-width:483px){
	.animals{
		background-size: 90%;
	}

}

.bottom{
	height:45px;
}

.scoreIcon{
	background-image: url('images/score.png');
	background-repeat: no-repeat;
	height:42px;
	background-position: 30% 50%;
	width:140px;
	float:right;
}

.helpIcon{
	background-image: url('images/info.png');
	height:42px;
	width:100px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	float:left;
}


.score-text{
	font-size: 10px;
	padding-left: 80px;
	margin-bottom: 0;

}

.score-number{
font-size: 30px;
font-weight: bold;
padding-left: 80px;
line-height: 32px;
}

.overlay-lightbox .box{
	background-color: #dff0d7;
	width:740px;
	height:400px;
	border-radius: 15px;
	text-align: center;
	position: relative;
}

.overlay-lightbox .box img{
vertical-align: middle;
position: absolute;
top: 20px;
left: 680px;
}

.overlay-lightbox{
	z-index: 100;
	display: none;
}

.answer-check{
	font-size: 30px;
	font-weight: bold;
	line-height: 60px;
}

.answer{
	font-size: 20px;
}

.answer-text{
	width: 500px;
padding: 30px;
position: absolute;
top: 120px;
left: 115px;
}
